{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %} {{post.title_tag}} {% endblock title %} 

{% block content %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('assets/food\ pop.jpg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            
            <span class="meta">Posted by
              <a href="#">{{post.author}}</a>
              {{post.timestamp}}
              {% if user.is_authenticated %}
                  <a href="{% url 'updatepost' post.pk %}" >
              
                  -Edit<a href="{% url 'deletepost' post.pk %}" >-Delete</span>
               
               
              {% endif %}

          
          
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container mx-15">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <br/>
          {% if post.header_image %}
           <center><img src="{{post.header_image.url}}"height="400"></center><br><br>
          {% endif %}
          <p>{{post.content | safe }} </p>
    
          
        </div>
      </div>
    </div>
  </article>

  
   
{% endblock content %}
 
