               
    <style>
               .pagination{
            justify-content: center;
            color: var(--text-gray);
            margin: 4rem 0;
        }

        .pagination a{
            padding: .6rem .9rem;
            border-radius: 2rem;
            margin: 0 .3rem;
            font-family: var(--Lexend);
        }

         .pagination .pages{
            background: var(--text-gray);
            color: var(--white);
        }
            
    
    </style>
    


                <div class="pagination flex-row">
                     <span>
                            {% if page.has_previous %}
                                
                                <a href="?page={{page.previous_page_number}}"><i class="fas fa-chevron-left"> Previous </i></a>

                            {% endif %}
                            
                              <span>{{page.number}}</span>

                            {% if page.has_next %}
                            
                            <a href="?page={{page.next_page_number}}"><i class="fas fa-chevron-right"> Next </i></a>
                            
                            {% endif %} 
                     </span>  
                </div>