{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %} Login {% endblock title %} 

{% block content %}


 <h2>Please log in to Continue..</h2>
 <div class = "container">
  
    <div class = "form-group">
           
           <form method="POST">
              {% csrf_token %}
             {{ form.as_ul }}
              <button type="submit" class="btn btn-secondary">Login</button>
           </form>
    
    </div>
 </div>
   {% comment %} action = '{% url 'fatlossPost' post.pk %}' {% endcomment %}
 
  
   
{% endblock content %}
 
