{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block body %}
{% endblock body %}

<!----------------------------- Main Site Section ------------------------------>

    <main>

        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Welcome To</h3>
                <h1>Rahul Fitness</h1>
                <button class="btn">Explore</button>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->